@model FilmsCatalog.Models.Movie
@{
    ViewBag.Title = Model.Title;
}
<h2>Фильм @Model.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.ID</dd>

        <dt>Наименование</dt>
        <dd>@Model.Title</dd>

        <dt>Описание</dt>
        <dd>@Model.Description</dd>

        <dt>Год выпуска</dt>
        <dd>@Model.Year</dd>

        <dt>Режисер</dt>
        <dd>@Model.Producer</dd>
    </dl>
    @if (Model.Poster != null)
    {
        <dl><dt>Постер</dt></dl>
        <p><img src="@Url.Content(Model.Poster)"></p>
    }
</div>
<div>

</div>